<!DOCTYPE html>
<html>
<head>
    <title>Rango</title></head>
<body>
<div>
    {% if category %}
    <h1>{{ category.name }}</h1>
    {% if pages %}
    <ul>
        {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>No pages currently in category.</strong>
    {% endif %}
    {% else %}
    The specified category does not exist!
    {% endif %}
    <a href="{% url 'add_page' category_name_slug=category.slug%}">Add a New Page</a><br />
</div>
<a href="{% url 'index' %}">Back to home page</a>
</body>
</html>
