<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <title>Rango</title>
</head>

<body>
<h1>Rango says...</h1>
<div>hey there partner!</div>
<h2>Most liked categories</h2>
<div>
    {% if categories_by_likes %}
    <ul>
        {% for category in categories_by_likes %}
        <li>
            <a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>There are no categories present.</strong>
    {% endif %}
</div>
<h2>Most viewed categories</h2>
<div>
    {% if categories_by_views %}
    <ul>
        {% for category in categories_by_views %}
        <li>
            <a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>There are no categories present.</strong>
    {% endif %}
</div>
<div>
    <a href="/rango/about/">About Rango</a><br/>
    <a href="/rango/add_category/">Add a New Category</a><br />
    <img src='{% static "images/cat.jpeg" %}' alt="Picture of Cat"/>
</div>
</body>
</html>